
@charset "UTF-8";


        .sampleText{
            font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
            font-size: 18pt;
            color: cadetblue;

        }



